@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
nav{
	background: #252525;
	height: 80px;
	width: 100%;
}
label.logo{
	color: #f2f2f2;
	font-size: 33px;
	line-height: 80px;
	padding: 0 140px;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}
nav ul{
	float: right;
	margin-right: 60px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 2px;
}
nav ul li a{
	color: #f2f2f2;
	font-weight: 500;
	font-size: 20px;
	padding: 7px 13px;
	border-radius: 3px;
	/* text-transform: uppercase; */
	font-family: 'Poppins', sans-serif;
}
a.active, a:hover{
	background: red;
	transition: .9s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 27px;
		padding-left: 25px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn{
		display: block;
		margin-right: 40px;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover,a.active{
		background: none;
		color: #0082e6;
	}
	#check:checked ~ ul{
		left: 0;
	}
}
section{
	background: url(../img/img.jpg) no-repeat;
	background-size: cover;
	height: calc(100vh - 80px);
}
select, option{
    color: #fff;
    background-color: #18191A;
    cursor: pointer;
}

.center_content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.center_content h1{
	color: #D55200;
	font-size: 70px;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 10px;
	z-index: 1;
}

.center_content h2{
	font-size: 25px;
	font-weight: 400;
	color: blue;
	text-transform: capitalize;
	/*z-index: 1;*/
}

.center_content h2:before{
	content: "";
	width: 80px;
	height: auto;
	border:2px solid blue;
	position: absolute;
	left: 40px;
	bottom: 0;
	margin-bottom: 10px;
}

a{
	color: #252525;
}

.poe{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
	transition: 0.2s; 
	margin-top: 27.5%;
	margin-left: 520px;
}

.poe:hover{
	color: black;
	background: red;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80 #2196f3;
	transition-delay: 1s;
}
.poe span{
	position: absolute;
	display: block;
}
.poe span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent,red); 
}

.poe:hover span:nth-child(1){
	left: 100%;
	transition: 1s;
}
.poe span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent,red); 
}

.poe:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
.poe span:nth-child(2){
	top: -100%;
	right: 0%;
	width: 2%;
	height: 100%;
	background: linear-gradient(180deg, transparent,red); 
}

.poe:hover span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}

.poe span:nth-child(4){
	bottom:  -100%;
	left: 0%;
	width: 2%;
	height: 100%;
	background: linear-gradient(360deg, transparent,red); 
}

.poe:hover span:nth-child(4){
	bottom:  100%;
	transition: 1s;
	transition-delay: 0.75s;
}

.nkar{
	background: black;
	height: 300px;
}
.nver{
	background: black;
	height: 300px;
}
.html_text{
	margin-top: -15vw;
	margin-left: 35vw;
	color: #fff;
	font-size: 30px;
}
.nkar1{
	background: black;
	height: 300px;
}
.css_text{
	margin-top: -15vw;
	margin-left: 1vw;
	color: #fff;
	font-size: 30px;
}
.nkar2{
	background: black;
	height: 300px;
}
.nver_text{
	margin-top: -15vw;
	margin-left: 35vw;
	color: #fff;
	font-size: 30px;
}

.info{
	background-image: url(../img/bg.jpg);
}


.title{
	color: #fff;
	margin-left: 480px;
}

.hop{
	color: #fff;
	margin-left: 480px;
}

.email{
	width: 200px;
	height: 40px;
	margin-left: 480px;
	border-radius: 6px;
}

.hastatel{
	width: 200px;
	height: 40px;
	border-radius: 6px;
	background: none;
	color: #fff;
}

.hastatel:hover{
	background: #fff;
	color: #000;
	transition: 0.8s; 
}

.open{
	width: 200px;
	height: 40px;
	border-radius: 6px;
	background: none;
	color: #fff;
}

.open:hover{
	background: #12FF00;
	color: #000;
	transition: 0.8s; 
}

.tel{
	background: #111111;
}

.img_1{
margin-left: 600px;
}

.off {
	margin-left: 450px;
}


.off a{
	background: #111111;
	margin-left: 50px;
	margin-top: 30px;
	color: #fff;
}

.off1{
	margin-left: 200vw;
}

.xs{
	color: #F2F2F2;
	margin-left: 100px;
}

#jiu{
	margin-left: 500px;
	color: #fff;
}